@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #2c3e50;
  --background-rgb: #ffffff;
  --menu-rgb: #eeeeee;
  --accent-rgb: #ff00ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #c8c8c8;
    --background-rgb: #000000;
    --menu-rgb: #181818;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  line-height: 1.7rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
